html, body, header, section, article, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes key-1 {
  from {
    background-color: red;
  }
  to {
    background-color: green;
  }
}
#transitions .trans-1 {
  width: 200px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: black;
  color: aliceblue;
  transition: background-color 2s, color 2s;
}
#transitions .trans-1:hover {
  background-color: aliceblue;
  color: black;
}
#keyframes .key-1 {
  width: 200px;
  height: 100px;
  text-align: center;
  background-color: red;
}
#keyframes .key-1:hover {
  animation-name: key-1;
  animation-duration: 2s;
}