a {
    color:orange;
    text-decoration: none;
}

a:hover{
    color:black;
    background-color: orange;
}

a:active{
    background-color: black;
}

a.button{
    display: inline-block;
    text-align: center;
    background-color: white;
    padding: 14px 25px;
    color:#111;
    border-style: double;
    border-color: black;
    border-radius: 10px;
}
a.button:hover{
    background-color: black;
    color:white;
    border-style:double;
    border-color:white;
}

a.button:active{
    background-color: red;
    color:black;
    border-color: black;
}