$navHeight: 5vh;
$navLineHeight: 5vh;
$footerHeight: 5vh;
$footerLineHeight: 5vh;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    > header {
        height: 10vh;
        line-height: 10vh;
        >h1{
            text-align: center;
        }
    }
    >nav{
        background-color: #ccc;
        min-height: $navHeight;
        line-height: $navLineHeight;
        >ul{
            display: flex;
            list-style-type: none;
            >li{
                width: 10vw;
                a{
                    text-decoration: none;
                    color: #005;
                    display: block;
                    text-align: center;
                    &:hover{
                        background-color: #eee;
                    }
                }
            }
        }
    }
    >footer{
        background-color: #ccc;
        min-height: $footerHeight;
        line-height: $footerLineHeight;
        text-align: center;
    }
}
main{
    display: flex;
    text-align: justify;
    >aside{
        width: 10vw;
        padding: 5px;
    }
    > article {
        width: 70vw;
        padding: 5px;
    }
}